<ul class="breadcrumb">
  <li><%= link_to "Help", help_path %></li>
  <li class="active">Clip's</li>
</ul>

<div class="row-fluid">

  <div class="span3">

    <ul class="nav invy-docs-sidenav">
      <li><a href="#"><i class="icon-chevron-right"></i> Upload</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i> Share</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i> Feedback</a></li>
    </ul>


  </div>

  <div class="span9">

    <div class="help-show-hero-unit">
      <h2>It's all about Clips</h2>
    </div>


    mpla mpla

  </div><!-- Span 9 End -->

</div>