<div class="demo-headline">
  <h1 class="demo-logo">
    <div class="logo"></div>
    You Rock !
    <small>Welcome <%= @user.first_name %></small>
  </h1>

  <%= link_to "Create a New Show", new_show_path,
              class: "btn btn-huge btn-embossed btn-info" %>

</div>

<div>
  <center>
    <fb:like href="https://www.facebook.com/6invy" width="400" show_faces="false" send="true"></fb:like>

    <a href="https://twitter.com/6invy" class="twitter-follow-button" data-show-count="false" data-lang="en-gb">Follow @6invy</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </center>
</div>
