<!-- Show Widget -->
  <div class="wrapper clips-masonry padding">
    <div id="widget">

      <div class="photos">
        <%= image_tag show.avatar %>
      </div>

      <div class="info">

        <div class="profile">
          <%= image_tag show.user.avatar(:avatar) %>
        </div>

        <p class="name">
          <%= link_to show.name, show %>
        </p>

      </div>
    </div>
  </div><!-- Show Widget End -->